<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Tonybolzan Web Links</title>
  <meta name="description" content="qualquer link da web, parecido com um favoritos publico">
  <meta name="author" content="Tonin De Rosso Bolzan">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300">
  <link rel="stylesheet" href="/static/css/styles.css">
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
{% block content %}{% endblock %}
<footer>
  <h2>&copy; {{ year }} <i>Tonin R. Bolzan.</i></h2>
  <a href="http://www.tonybolzan.com"><i>www.<b>tonybolzan</b>.com</i></a>
  <img src="http://code.google.com/appengine/images/appengine-silver-120x30.gif" alt="Powered by Google App Engine" />
</footer>

<!--[if lt IE 8 ]>
  <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
  <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
<![endif]-->
</body>
</html>
